*.bld
*.bgn
*.cfi
*.prm
*.sig
*.bgn
*.cmd_log
*.drc
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xst
*.map
*.mrp
*.xrpt
*.txt
*.html
*.xml
*.gise
*.log
*.lst
*.ut
_xmsgs/
*.xreport
*.vdbl
*.vdbx
iseconfig/
_ngo/
xst/
xlnx_auto_0_xdb/
*.xrpt
