//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 24 16:01:10 2019
//! **************************************************************************

SCHEMATIC START;
COMP "bn7" LOCATE = SITE "E8" LEVEL 1;
COMP "reset" LOCATE = SITE "H2" LEVEL 1;
COMP "DOUT7<0>" LOCATE = SITE "B8" LEVEL 1;
COMP "DOUT7<1>" LOCATE = SITE "A9" LEVEL 1;
COMP "DOUT7<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "DOUT7<3>" LOCATE = SITE "A10" LEVEL 1;
COMP "DOUT7<4>" LOCATE = SITE "B10" LEVEL 1;
COMP "DOUT7<5>" LOCATE = SITE "A12" LEVEL 1;
COMP "DOUT7<6>" LOCATE = SITE "B12" LEVEL 1;
COMP "DOUT7<7>" LOCATE = SITE "A13" LEVEL 1;
COMP "led1" LOCATE = SITE "N9" LEVEL 1;
COMP "clk_50M" LOCATE = SITE "T8" LEVEL 1;
COMP "led2" LOCATE = SITE "P9" LEVEL 1;
COMP "led3" LOCATE = SITE "L10" LEVEL 1;
COMP "CatL<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "bn0" LOCATE = SITE "D11" LEVEL 1;
COMP "CatL<1>" LOCATE = SITE "C8" LEVEL 1;
COMP "bn1" LOCATE = SITE "C10" LEVEL 1;
COMP "bn2" LOCATE = SITE "E11" LEVEL 1;
COMP "led4" LOCATE = SITE "M10" LEVEL 1;
COMP "CatL<2>" LOCATE = SITE "A7" LEVEL 1;
COMP "bn3" LOCATE = SITE "C9" LEVEL 1;
COMP "bn4" LOCATE = SITE "D9" LEVEL 1;
COMP "bn5" LOCATE = SITE "E10" LEVEL 1;
SCHEMATIC END;

